<header class="main-header navbar">
    <div class="col-search">
      
    </div>
    <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
            </li>
          
            <li class="dropdown nav-item">
                
                <form id="logoutForm" method="post" action="/admin/logout" style="display: inline;">
                    <button type="submit" class="dropdown-item text-danger" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                        <i class="material-icons md-exit_to_app"></i> Logout
                    </button>
                </form>
                   
                
            </li>
        </ul>
    </div>
</header>