<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="/assets/imgs/theme/elegance.svg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="/allProducts" method="get">
                    <input type="text" placeholder="Search for items…" name="search">
                    <button type="submit" style="font-size: medium;">Search</button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><a href="/">Home</a></li>
                        <li class="menu-item-has-children"><a href="/">Men</a></li>
                        <li class="menu-item-has-children"><a href="/">Women</a></li>
                       
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/my/profile">My Account</a></li>
                               
                            </ul>
                        </li>
                      
                    </ul>
                </nav>
               
            </div>
           
        </div>
    </div>
</div>