<header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
<div class="header-bottom sticky-bar sticky-white-bg">
    <div class="container">
        <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1">
                <a href="/home"><img src="assets/imgs/theme/elegance.svg" alt="logo"></a>
            </div>
            <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                <nav>
                    <ul>
                        <li><a href="/home">Home</a>
                            
                        </li>
                        <li><a href="/allproducts">All</a>
                            
                        </li>
                        <li class="position-static"><a href="/men">Men</a>
                            
                        </li>
                        <li class="position-static"><a href="/women">Women</a>
                           
                        </li>
                        
                        <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li><a href="/profile">My Account</a></li>
                                
                                
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-action-right">
                <div class="search-style-1">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                    </form>
                </div>
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href="/wishlist">
                            <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                        </a>
                    </div>
                    