<header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1">
                    <a href="/home"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                </div>
                <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                    <nav>
                        <ul>
                            <li><a href="/home">Home</a>
                                
                            </li>
                            <li><a href="/allproducts">All</a>
                                
                            </li>
                            <li class="position-static"><a href="/men">Men</a>
                                <!-- <ul class="mega-menu">
                                    <li class="sub-mega-menu sub-mega-menu-width-22">
                                        <a class="menu-title" href="/men">Men's Fashion</a>
                                        <ul>
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                            <li><a href="shop-product-right.html">Casual Pants</a></li>
                                            <li><a href="shop-product-right.html">Sweatpants</a></li>
                                            <li><a href="shop-product-right.html">Harem Pants</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-mega-menu sub-mega-menu-width-34">
                                        <div class="menu-banner-wrap">
                                            <a href="shop-product-right.html"><img src="assets/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                                            <div class="menu-banner-content">
                                                
                                                <h3>Don't miss<br> Trending</h3>
                                                
                                                <div class="menu-banner-btn">
                                                    <a href="shop-product-right.html">Shop now</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul> -->
                            </li>
                            <li class="position-static"><a href="/women">Women</a>
                                <!-- <ul class="mega-menu">
                                    <li class="sub-mega-menu sub-mega-menu-width-22">
                                        <a class="menu-title" href="/women">Women's Fashion</a>
                                        <ul>
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Wedding Dresses</a></li>
                                            <li><a href="shop-product-right.html">Prom Dresses</a></li>
                                            <li><a href="shop-product-right.html">Cosplay Costumes</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li class="sub-mega-menu sub-mega-menu-width-34">
                                        <div class="menu-banner-wrap">
                                            <a href="shop-product-right.html"><img src="assets/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                                            <div class="menu-banner-content">
                                                
                                                <h3>Don't miss<br> Trending</h3>
                                                
                                                <div class="menu-banner-btn">
                                                    <a href="shop-product-right.html">Shop now</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul> -->
                            </li>
                            
                            <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-action-right">
                    <div class="search-style-1">
                        <form action="#">
                            <!-- <select class="select-active">
                                <option>Search in</option>
                                <option>Women's Clothing</option>
                                <option>Men's Clothing</option>
                                <option>Cellphones</option>
                                <option>Computer & Office</option>
                                <option>Consumer Electronics</option>
                                <option>Jewelry & Accessories</option>
                                <option>Home & Garden</option>
                                <option>Luggage & Bags</option>
                                <option>Shoes</option>
                                <option>Mother & Kids</option>
                            </select> -->
                            <input type="text" placeholder="Search for items…">
                        </form>
                    </div>
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishlist">
                                <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                <!-- <span class="pro-count blue">4</span> -->
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart">
                                <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                <!-- <span class="pro-count blue">2</span> -->
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <ul>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                    <a class="dropdown-item" href="/login">Login</a>
                                    <a class="dropdown-item" href="/register">Register</a>
                                   
                                </div>
                            </li>
                        </ul>
                        </div>
                        <div class="header-action-icon d-block d-lg-none">
                            <div class="burger-icon">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>